.DS_Store
bmc_template/.DS_Store
bmc_template/bmc_article.pdf
bmc_template/bmc_article.aux
bmc_template/bmc_article.bbl
bmc_template/bmc_article.blg
bmc_template/bmc_article.log
bmc_template/bmc_article.synctex.gz
bmc_template/bmc_article.synctex
bmc_template/bmc_article.dvi
submitted/.DS_Store
submitted/bmc_article.pdf
submitted/bmc_article.aux
submitted/bmc_article.bbl
submitted/bmc_article.blg
submitted/bmc_article.log
submitted/bmc_article.synctex.gz
submitted/bmc_article.synctex
submitted/bmc_article.dvi
submitted/bmc_article.out
