.DS_Store
bmc_template/bmc_article.out
bmc_template/.DS_Store
bmc_template/bmc_article.pdf
bmc_template/bmc_article.aux
bmc_template/bmc_article.bbl
bmc_template/bmc_article.blg
bmc_template/bmc_article.log
bmc_template/bmc_article.synctex.gz
bmc_template/bmc_article.synctex
bmc_template/bmc_article.dvi
validation/calibrated/xml/
validation/ucldstdev/xml/
validation/ucldstdev/logs/
validation/ucldstdev/output/
validation/efficiency/simulated/xmls/xml/
validation/efficiency/simulated/20taxa/MediumCategory/logs/
validation/efficiency/simulated/20taxa/ShortCategory/output/
validation/efficiency/simulated/20taxa/MediumCons/logs/
validation/efficiency/simulated/20taxa/ShortCons/output/
validation/efficiency/others/xml/xml/
